<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.LOCATION_HARDWARE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />



    <application
        android:name=".HealthCareApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCareNewVersion">

        <activity
            android:name="com.careavatar.dashboardmodule.DashboardActivity"
            android:theme="@style/Base.Theme.Healthcare20"
            android:exported="true" />

        <activity
            android:name="com.careavatar.dashboardmodule.NotificationActivity"
            android:exported="true" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.careavatar.userapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxmRrwWLag7plK-SQFtQvQxlhRVwI09tY"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.auth.api.fitness"
            android:value="true" />


        <activity
            android:name=".MainActivity"
            android:theme="@style/LaunchTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.asyscraft.login_module.ui.LoginActivity"
            android:exported="true"/>

        <activity
            android:name="com.asyscraft.login_module.ui.SplashScreenActivity"
            android:exported="true" />
        <activity
            android:name="com.asyscraft.login_module.ui.LoadingActivity"
            android:exported="true" />
        <activity
            android:name="com.asyscraft.login_module.ui.OnBoardingActivity"
            android:exported="true" />
        <activity
            android:name="com.asyscraft.login_module.ui.VerifyOtpActivity"
            android:exported="true" />
        <activity
            android:name="com.asyscraft.login_module.ui.PreferenceActivity"
            android:exported="true" />

        <activity
            android:name="com.asyscraft.login_module.ui.healthonboardingactivity.InformationOnboardingActivity"
            android:exported="true" />
        <activity
            android:name="com.asyscraft.login_module.ui.healthonboardingactivity.CommitActivity"
            android:exported="true" />
        <activity
            android:name="com.asyscraft.login_module.ui.healthonboardingactivity.Information_loading_Activity"
            android:exported="true" />


    </application>

</manifest>