<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".QuotationsReceivedActivity"
            android:exported="false" />
        <activity
            android:name=".OrderStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewYourRequestActivity"
            android:exported="false" />
        <activity
            android:name=".FindChemistActivity"
            android:exported="false" />
        <activity
            android:name=".SelectedOrderMedicineListActivity"
            android:exported="false" />
        <activity
            android:name=".OrderMedicineListActivity"
            android:exported="false" />
        <activity
            android:name=".ReminderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ReminderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".medicalReminder.CreateMedicalReminderActivity"
            android:exported="false" />
        <activity
            android:name=".NewReminderActivity"
            android:exported="false" />
        <activity
            android:name=".CreateWaterReminderActivity"
            android:exported="false" />
        <activity
            android:name=".DailyActivityReminder"
            android:exported="false" />
        <activity
            android:name=".waterReminderActivity"
            android:exported="false" />
        <activity
            android:name=".AddVaaccinationActivity"
            android:exported="false" />
        <activity
            android:name=".MyVaccinationActivity"
            android:exported="false" />
        <activity
            android:name=".LogYourPeriodActivity"
            android:exported="false" />
        <activity
            android:name=".MyCycleActivity"
            android:exported="false" />
        <activity
            android:name=".MedicalReminderDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ReminderTypeActivity"
            android:exported="false" />
    </application>

</manifest>